{% extends 'public/base.html' %}
{% load staticfiles %}
{% block posts-content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% for post in posts %}
<div class="posts">
  <div class="post-header">
    <h1 class="post-title"><a href="/post/{{ post.id }}">{{ post.title }}</a></h1>
    <div class="post-meta">
      <span>
        <i class="glyphicon glyphicon-calendar"></i>
        <a class="post-time" href="#">{{ post.createTime }}</a>
      </span>
      <span>
        <i class="glyphicon glyphicon-user"></i>
        <a href="#" class="author">{{ post.author }}</a>
      </span>
      <span>
        <i class="glyphicon glyphicon-tag"></i>
        <a href="/posts?classify={{ post.classify }}" class="post-label">{{ post.classify }}</a>
      </span>
    </div>
  </div>
  <div class="post-content">
    {{ post.content|safe }}
  </div>
  <div class="post-more">
    <span><a href="/post/{{ post.id }}">阅读全文</a></span>
  </div>
  <div class="post-footer">
    <span>
      <i class="glyphicon glyphicon-comment"></i>
      <a class="post-time" href="#">评论 2</a>
    </span>
    <span>
      <a><i class="glyphicon glyphicon-thumbs-up"></i></a> 5
    </span>
  </div>
</div>
{% endfor %}
<div class="row pager">
  <a class="page-num" href="#"><i class="glyphicon glyphicon-arrow-left"></i></a>
  <span class="pages">第 1 / 7 页</span>
  <span class="page-num" href="#">1</span>
  <a class="page-num" href="#">2</a>
  <a class="page-num" href="#">...</a>
  <a class="page-num" href="#">6</a>
  <a class="page-num" href="#">7</a>
  <a class="page-num" href="#"><i class="glyphicon glyphicon-arrow-right"></i></a>
</div>
{% endblock %}