{% extends 'public/base.html' %}
{% load staticfiles %}
{% block posts-content %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
<div class="posts">
  <div class="post-header">
    <h1 class="post-title">{{ post.title }}</h1>
    <div class="post-meta">
      <span>
        <i class="glyphicon glyphicon-calendar"></i>
        <a class="post-time" href="#">{{ post.createTime }}</a>
      </span>
      <span>
        <i class="glyphicon glyphicon-user"></i>
        <a href="#" class="author">{{ post.author }}</a>
      </span>
      <span>
        <i class="glyphicon glyphicon-tag"></i>
        <a href="/posts?classify={{ post.classify }}" class="post-label">{{ post.classify }}</a>
      </span>
    </div>
  </div>
  <div class="post-content">
    {{ post.content|safe }}
  </div>
  <div class="post-end">
    <span>(全文完)</span>
  </div>
  <div class="post-reward">
    <img src="{% static 'pic/reward-1.jpg' %}" alt="reward-pic">
    <div>请我喝瓶可乐</div>
  </div>
  <div class="post-footer">
    <span>
      <i class="glyphicon glyphicon-comment"></i>
      <a class="post-time" href="#">评论 2</a>
    </span>
    <span>
      <a><i class="glyphicon glyphicon-thumbs-up"></i></a> 5
    </span>
  </div>
</div>
{% endblock %}